

.theme-dark
{

}

.theme-light
{

}

.markdown-source-view .cm-em,
.markdown-rendered em {color: var(--color-accent)}

.markdown-source-view .cm-strong,
.markdown-rendered strong {color: var(--color-accent)}

.markdown-source-view .cm-comment
{	font-family: var(--monospace-font);
	color: var(--dark-grey);
	line-height: 0;
	font-size: 12.5px !important;
}

.markdown-source-view .cm-inline-code, .cm-hmd-codeblock,
.markdown-rendered code
{
	color: var(--light-grey) !important;
	Background-color: #00000000 !important;
}


.view-header-title {color: var(--color-accent);}
.status-bar {font-family: var(--monospace-font);}
.nav-folder-title
{color: var(--color-accent);}


body {

	--active-hover: 128, 128, 128;     
    --cursor-line-background: rgba(var(--active-hover), 0.15);

	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

	--hr-thickness: 1px;                                   	/* Bar Thickness */
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after 
{display: none;}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;}

.menu {padding: var(--size-2-1);}
.menu-item {padding: var(--size-4-1) var(--size-4-2);}
.menu-separator {margin: var(--size-2-1) calc(var(--size-2-1) * -1);}

:root
{
	--monospace-font: monospace;

	--black: #292826;
	--dark-grey: rgb(100, 100, 100);
	--light-grey: grey;
	--font-color: rgb(250, 250, 250);
	--ivory: #F2EDE0;

	--tomato: rgb(255, 99, 71);
	--orange: rgb(236, 170, 107);
	--yellow: rgb(255, 219, 120);
	--green: rgb(126, 177, 134);
	--blue: rgb(112, 156, 234);
	--violet: rgb(134, 148, 224);

}


/* -------------- CSSCLASSES -------------- */

/* --- Adds a natural automatic spacing after each paragraph ('Enter') --- */
.markdown-source-view.paragraph-space .cm-line:not(.HyperMD-codeblock),
.markdown-rendered.paragraph-space p {padding-bottom: 10px !important;}

/* --- Adds a natural automatic indent at the beginning of a new paragraph --- */
.markdown-source-view.paragraph-indent
.cm-line:not(.HyperMD-header):not(.hr):not(.HyperMD-codeblock),
.markdown-rendered.paragraph-indent p
{text-indent: 2em !important;}

/* --- Changes the line width from default to full for a specific note --- */
.markdown-source-view.full-width .cm-scroller {--file-line-width: auto;}
.markdown-rendered.full-width {--file-line-width: auto;}

/* --- Book-Template ---*/

.markdown-source-view.book-template .cm-active.cm-line {
    background-color: var(--cursor-line-background);
	border-radius: 5px;
	box-shadow: 0 2px 0 3px var(--cursor-line-background);
   
}

.markdown-source-view.book-template .cm-gutter		/* Shades the Number Gutter */
{
	background-color: rgba(128, 128, 128, 0.07);
	border-radius: 5px;
	padding-right: 4px;
	padding-top: 4px;
}

.markdown-rendered.book-template {					/* -- Render-View Document Settings */
	color: var(--black) !important;
	border-radius: 0px !important;
	background: var(--ivory) !important;
}

.markdown-rendered.book-template em {color: var(--black) !important;}					/* -- Render-View Itelics */
.markdown-rendered.book-template strong {color: var(--black) !important;}
.markdown-rendered.book-template code {
	color: rgb(90, 90, 90) !important;
}

.markdown-source-view .cm-em,
.markdown-rendered em {color: var(--font-color)}
.markdown-source-view .cm-strong,
.markdown-rendered strong {color: var(--font-color)}

.markdown-rendered.book-template .markdown-preview-sizer {
	/*width: 576px; 					/* -- Outer Standard Book Size */
	width: 426px;						/* -- Symmetrical 75px or 0.75cm hard margin */
	font-size: 12.5px !important;		/* -- Preview Font Size */
	margin-block-start: 0px;			/* -- Removes the top margin of the paragraph text */
	text-align: justify;
}    

.markdown-source-view.book-template .cm-line:not(.HyperMD-header), 		/* -- Document Text Font */
.markdown-rendered.book-template {						
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
	text-align: justify;
	font-weight: normal !important;
	line-height: 1.5 !important;
}

.markdown-rendered.book-template h1,	/* -- Render-View Heading Formatting */
.markdown-rendered.book-template h2,
.markdown-rendered.book-template h3,
.markdown-rendered.book-template h4,
.markdown-rendered.book-template h5,
.markdown-rendered.book-template h6 {
	font-weight: normal !important;
	font-size: 20px !important;			/* -- Render-View Heading Size */
	text-align: center;					/* -- Render-View Heading Alignment */
	margin-bottom: 0px;					/* -- Render-View Heading Margin */
}

.markdown-rendered.book-template .metadata-properties {									/* --  Render-View Properties Box */
	background-color: transparent !important;}

.markdown-rendered.book-template .inline-title {
	color: var(--black) !important;
	font-weight: normal !important;}

.markdown-source-view.book-template .inline-title {
	color: var(--l1) !important;}

.markdown-rendered.book-template .metadata-properties-title,		/* -- Render-View Properties Title */
.markdown-rendered.book-template .metadata-property-key-input,		/* -- Render-View Properties Tags */
.markdown-rendered.book-template .svg-icon.lucide-forward,			/* -- Render-View Forward SVG */
.markdown-rendered.book-template .svg-icon.lucide-plus,				/* -- Render-View Properties Plus SVG */
.markdown-rendered.book-template .svg-icon.lucide-list,				/* -- Render-View Lists SVG */
.markdown-rendered.book-template .svg-icon.lucide-tags,				/* -- Render-View Tags SVG */
.markdown-rendered.book-template .multi-select-pill, 				/* -- Render-View Properties Text Background */
.markdown-rendered.book-template .text-button-label,				/* -- Render-View Add Property Tag */
.markdown-rendered.book-template .svg-icon.lucide-x {				/* -- Render-View X Tag */				
	background-color: transparent !important; 
	color: var(--black) !important;}

	